.jumbotron{
  text-align: center;
  background-color: lightblue;
}

.well{
  background-color: teal;
  padding: 10px;
  text-align: center;
}

/*.well1{
  background-color: grey;
  padding: 10px;
  text-align: center;
}*/

body{
  background-color: salmon;
}
